// <color>
@property --ui-pattern-color {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-pattern-lg {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-pattern-md {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-pattern-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-pattern-sm {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-pattern-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-pattern-xl {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-pattern-xs {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}
