:root {
	--ui-coverflow-item-size: 12rem;
	--ui-coverflow-gap: 1rem;
	--ui-coverflow-padding: 1rem;

	--ui-coverflow-perspective: 60rem;

	--ui-coverflow-overlap: 3rem;
	--ui-coverflow-depth: -6rem;
	--ui-coverflow-rotation: 55deg;
	--ui-coverflow-side-scale: 0.78;
	--ui-coverflow-side-opacity: 0.55;

	--ui-coverflow-reflection-gap: 0.5rem;
	--ui-coverflow-reflection-space: 4rem;
	--ui-coverflow-reflection-opacity: 0.3;
}