// *
@property --ui-select-disabled-cursor {
	syntax: "*";
	inherits: true;
}

@property --ui-select-option-shadow {
	syntax: "*";
	inherits: true;
}

// <color>
@property --ui-select-arrow {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-select-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-select-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-select-disabled-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-select-disabled-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-select-disabled-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-select-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-select-hover-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-select-ring {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-select-block-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-checkmark-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-font-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-item-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-option-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-ring-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-ring-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-select-item-padding-block {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-item-padding-inline {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-option-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-padding-block {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-select-padding-inline {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

// normal | <number> | <length-percentage>
@property --ui-select-line-height {
	syntax: "normal | <number> | <length-percentage>";
	inherits: true;
	initial-value: normal;
}
