// *
@property --ui-dock-animation-easing {
	syntax: "*";
	inherits: true;
}

@property --ui-dock-indicator-area {
	syntax: "*";
	inherits: true;
}

// <color>
@property --ui-dock-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-dock-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-dock-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-dock-separator-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-dock-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-indicator-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-indicator-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-item-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-item-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-origin-x {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-origin-y {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-push-after-far-x {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-push-after-far-y {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-push-after-x {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-push-after-y {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-push-before-far-x {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-push-before-far-y {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-push-before-x {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-push-before-y {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-separator-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-translate-x {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-translate-y {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-dock-indicator-margin-block-end {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-indicator-margin-block-start {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-indicator-margin-inline-end {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-indicator-margin-inline-start {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dock-separator-margin {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

// <number>
@property --ui-dock-active-scale {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}

@property --ui-dock-far-scale {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}

@property --ui-dock-near-scale {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}

@property --ui-dock-scale {
	syntax: "<number>";
	inherits: true;
	initial-value: 1;
}

// <time>
@property --ui-dock-animation-delay {
	syntax: "<time>";
	inherits: true;
	initial-value: 0s;
}

@property --ui-dock-animation-speed {
	syntax: "<time>";
	inherits: true;
	initial-value: 0s;
}
