// *
@property --ui-fieldset-shadow {
	syntax: "*";
	inherits: true;
}

// <color>
@property --ui-fieldset-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-fieldset-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-fieldset-disabled-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-fieldset-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-fieldset-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-fieldset-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-fieldset-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-fieldset-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}
