@layer base {
	:root {
		--ui-checkbox-size: 1rem;
		--ui-checkbox-radius: var(--ui-radius, 0.375rem);
		--ui-checkbox-gap: 0.5rem;
		--ui-checkbox-border-width: var(--ui-border-width, 0.0625rem);

		--ui-checkbox-bg: var(--ui-surface, Canvas);
		--ui-checkbox-checked-bg: var(--ui-accent, SelectedItem);
		--ui-checkbox-border: var(--ui-border, ButtonBorder);
		--ui-checkbox-fg: var(--ui-fg, CanvasText);
		--ui-checkbox-icon-size: 0.625rem;

		--ui-checkbox-ring: var(--ui-ring, Highlight);
		--ui-checkbox-ring-width: var(--ui-ring-width, 0.125rem);
		--ui-checkbox-ring-offset: var(--ui-ring-offset, 0.0625rem);

		--ui-checkbox-disabled-opacity: 0.35;
		--ui-checkbox-disabled-border: var(--ui-disabled-border, GrayText);
		--ui-checkbox-disabled-fg: var(--ui-disabled-fg, GrayText);
		--ui-checkbox-disabled-cursor: var(--ui-disabled-cursor, not-allowed);

		--ui-checkbox-check-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath d='M58.08,6.39c1.96,1.28,2.51,3.91,1.23,5.87l-28.85,44.12c-.68,1.04-1.78,1.73-3.01,1.89-1.23.16-2.47-.23-3.39-1.07L5.39,40.23c-1.73-1.58-1.86-4.26-.29-5.99,1.58-1.73,4.26-1.86,5.99-.29l14.98,13.62L52.21,7.62c1.28-1.96,3.91-2.51,5.87-1.23Z'/%3E%3C/svg%3E");
		--ui-checkbox-indeterminate-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath d='M4,32c0-2.21,1.79-4,4-4h48c2.21,0,4,1.79,4,4s-1.79,4-4,4H8c-2.21,0-4-1.79-4-4Z'/%3E%3C/svg%3E");
	}

	@media (prefers-reduced-transparency: reduce) {
		:root {
			--ui-checkbox-disabled-opacity: 0.8;
		}
	}
}
