// *
@property --ui-dialog-easing {
	syntax: "*";
	inherits: true;
}

@property --ui-dialog-shadow {
	syntax: "*";
	inherits: true;
}

// <color>
@property --ui-dialog-backdrop {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-dialog-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-dialog-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-dialog-content {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-dialog-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-dialog-blur {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dialog-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dialog-footer-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dialog-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dialog-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dialog-viewport-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-dialog-content-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dialog-footer-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dialog-header-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-dialog-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

// <percentage>
@property --ui-dialog-backdrop-opacity {
	syntax: "<percentage>";
	inherits: true;
	initial-value: 0%;
}

// <time>
@property --ui-dialog-speed {
	syntax: "<time>";
	inherits: true;
	initial-value: 0s;
}
