// *
@property --ui-color-cursor {
	syntax: "*";
	inherits: true;
}

@property --ui-color-disabled-cursor {
	syntax: "*";
	inherits: true;
}

// <color>
@property --ui-color-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-color-ring {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-color-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-color-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-color-ring-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-color-ring-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-color-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <number>
@property --ui-color-disabled-opacity {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}
