// *
@property --ui-range-disabled-cursor {
	syntax: "*";
	inherits: true;
}

// <color>
@property --ui-range-ring {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-range-thumb {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-range-thumb-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-range-track {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-range-ring-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-range-ring-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-range-thumb-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-range-thumb-height {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-range-thumb-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-range-thumb-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-range-track-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-range-track-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <number>
@property --ui-range-disabled-opacity {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}
