// <color>
@property --ui-progress-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-progress-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-progress-value {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-progress-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-progress-height {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-progress-lg-height {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-progress-md-height {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-progress-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-progress-sm-height {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-progress-xs-height {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}
