// *
@property --ui-menu-disabled-cursor {
	syntax: "*";
	inherits: true;
}

@property --ui-menu-easing {
	syntax: "*";
	inherits: true;
}

@property --ui-menu-shadow {
	syntax: "*";
	inherits: true;
}

// <color>
@property --ui-menu-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-menu-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-menu-disabled-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-menu-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-menu-item-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-menu-item-hover {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-menu-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-menu-divider-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-menu-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-menu-item-block-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-menu-item-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-menu-item-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-menu-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-menu-spacing {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-menu-viewport-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-menu-item-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-menu-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

// <number>
@property --ui-menu-start-opacity {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}

// <time>
@property --ui-menu-speed {
	syntax: "<time>";
	inherits: true;
	initial-value: 0s;
}
