// <color>
@property --ui-card-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-card-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-card-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-card-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-card-footer-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-card-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-card-header-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-card-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-card-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}
