// <color>
@property --ui-accordion-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-accordion-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-accordion-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-accordion-icon-color {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-accordion-icon-open {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-accordion-ring {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-accordion-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-accordion-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-accordion-icon-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-accordion-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-accordion-ring-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-accordion-ring-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-accordion-content-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-accordion-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

// none | <image>
@property --ui-accordion-icon {
	syntax: "none | <image>";
	inherits: true;
	initial-value: none;
}
