// *
@property --ui-radio-disabled-cursor {
	syntax: "*";
	inherits: true;
}

// <color>
@property --ui-card-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-card-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-card-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-radio-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-radio-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-radio-checked {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-radio-disabled-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-radio-disabled-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-radio-ring {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-card-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-card-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-radio-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-radio-checked-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-radio-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-radio-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-radio-ring-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-radio-ring-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-radio-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-card-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

// <number>
@property --ui-radio-disabled-opacity {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}
