// <color>
@property --ui-link {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-link-hover-line {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-link-ring {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-link-visited {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-link-line-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-link-line-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-link-ring-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-link-ring-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}
