// <color>
@property --ui-input-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-keyboard-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-keyboard-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-keyboard-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-keyboard-block-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-keyboard-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-keyboard-font-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-keyboard-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-keyboard-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-keyboard-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}
