@use "properties";

@use "../layers";
@use "../mixins" as ui;
@forward "variables";

@layer base {
	textarea {
		box-sizing: border-box;
		min-inline-size: 0;
		min-block-size: 1.5lh;
		padding: var(--ui-textarea-padding, 0.25rem 0.75rem);

		font: inherit;
		border-radius: var(--ui-textarea-radius, 0.375rem);
		resize: auto;

		&.ui-responsive {
			field-sizing: content;
		}

		@supports (field-sizing: content) {
			&.ui-responsive {
				resize: none;
			}
		}

		@include ui.focus-ring(
			var(--ui-textarea-ring, Highlight),
			var(--ui-textarea-ring-width, 0.125rem),
			var(--ui-textarea-ring-offset, 0.0625rem)
		);

		&.ui-vertical {
			resize: vertical;
		}

		&.ui-horizontal {
			resize: horizontal;
		}
	}
}

@layer components {
	textarea {
		border: var(--ui-textarea-border-width, 0.0625rem) solid
			var(--ui-textarea-border, ButtonBorder);
		background-color: var(--ui-textarea-bg, Field);
		color: var(--ui-textarea-fg, FieldText);

		&::placeholder {
			color: var(--ui-textarea-placeholder, GrayText);
			opacity: 1;
		}

		&.ui-outline,
		&.ui-dashed {
			background-color: transparent;
		}

		&.ui-dashed {
			border-style: dashed;
		}

		&.ui-ghost {
			border-color: transparent;
			background-color: transparent;
		}

		&.ui-subtle {
			border-color: transparent;
			background-color: color-mix(
				in oklch,
				var(--ui-textarea-fg, FieldText) 5%,
				var(--ui-bg, Canvas)
			);
		}


		&:disabled {
			border-color: var(--ui-textarea-disabled-border, GrayText);
			background: var(--ui-textarea-disabled-bg, Canvas);
			color: var(--ui-textarea-disabled-fg, GrayText);
			cursor: var(--ui-textarea-disabled-cursor, not-allowed);
		}
	}
}
