// <color>
@property --ui-divider-label {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-divider-line {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-divider-dash-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-divider-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-divider-label-min-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-divider-reduced-motion-distance {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-divider-spacing {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-divider-vertical-min-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-divider-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <time>
@property --ui-divider-animation-speed {
	syntax: "<time>";
	inherits: true;
	initial-value: 0s;
}

@property --ui-divider-reduced-motion-speed {
	syntax: "<time>";
	inherits: true;
	initial-value: 1.6s;
}
