// *
@property --ui-file-cursor {
	syntax: "*";
	inherits: true;
}

@property --ui-file-disabled-cursor {
	syntax: "*";
	inherits: true;
}

// <color>
@property --ui-file-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-file-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-file-description {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-file-disabled-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-file-disabled-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-file-disabled-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-file-disabled-message {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-file-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-file-required-message {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-file-ring {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-file-title {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-file-valid-message {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-file-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-file-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-file-ring-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-file-ring-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-file-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}
