// *
@property --ui-ribbon-transform-origin {
	syntax: "*";
	inherits: true;
}

// <angle>
@property --ui-ribbon-rotation {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0deg;
}

// <color>
@property --ui-ribbon-active-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-ribbon-active-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-ribbon-active-fold-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-ribbon-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-ribbon-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-ribbon-active-fold-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-ribbon-active-font-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-ribbon-active-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-ribbon-edge-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-ribbon-fold-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-ribbon-font-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-ribbon-translate-x {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-ribbon-padding-block {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

@property --ui-ribbon-padding-inline {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}
