// <color>
@property --ui-badge-accent {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-base-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-border {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-error-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-error-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-info-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-info-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-ring {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-success-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-success-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-warning-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --ui-badge-warning-fg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

// <length-percentage>
@property --ui-badge-border-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-badge-font-size {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-badge-gap {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-badge-radius {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-badge-ring-offset {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

@property --ui-badge-ring-width {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 0px;
}

// <length-percentage>+
@property --ui-badge-padding {
	syntax: "<length-percentage>+";
	inherits: true;
	initial-value: 0px;
}

// <percentage>
@property --ui-badge-subtle-bg-strength {
	syntax: "<percentage>";
	inherits: true;
	initial-value: 0%;
}

// normal | bold | <number>
@property --ui-badge-font-weight {
	syntax: "normal | bold | <number>";
	inherits: true;
	initial-value: 400;
}
